h1, h2 {
  font-family: Lato;
}

@font-face {
	font-family: 'Noto Sans SC';
	src: local("../Content/fonts/Sazanami-Hanazono-Mincho.ttf") format("truetype"),	
	  url("http://fonts.gstatic.com/ea/notosansjp/v5/NotoSansCJK-Regular.otf") format('opentype');
}
